body {
	background: #fcfcfc;
}

li {
	list-style: none;
}

.title-light {
	font-weight: 500;
}

.color-theme {
	color: #00abec;
}

.wrapper-w40 {
	width: 40%;
	margin: 0 auto;
	text-align: center;
}
.wrapper-w80 {
	width: 80%;
	margin: 0 auto;
}
